.finish {
  background-color: #bcddfe;
  height: 680.594px;
}

.finish__top {
  display: flex;
  justify-content: space-between;
  padding: 154px 0;
  margin-bottom: 0px;
}

.foot__link-item {
  display: flex;
  gap: 40px;
}
.foot__text {
  width: 221px;
}
.line {
  display: block;
  margin: 0 auto;
  width: 1180.86px;
  background-color: #f6f7f8;
  border: 1px solid #f6f7f8;
  margin-bottom: 34px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.icon {
  display: flex;
  gap: 21px;
}
.foot__bott-text {
  color: #c1c8ce;
  font-size: 14px;
  font-weight: 400;
}
